*{
    margin:0;
    padding:0;
    font-family: 'Cabin', sans-serif;
}
body{
    background-image:url( "./clouds.gif");
    background-size:cover;
}
.nav-bar{
    display:flex;
    justify-content: space-between;
}
#game-logo{
    margin-right: auto;
    width:200px;
}
#game-title{
    color:red;
    text-align: center;
    margin-right:auto;
    font-size:70px;
    font-family: 'Nerko One',cursive;
}

.ground{
    background-color: rgb(30, 124, 30);
    width: 100%;
    position:absolute;
    bottom:0;
    height:20%;
}
.farm-row{
    display:flex;
    position:absolute;
    bottom:18%;
    width:100%;
}
.strawberry-container{
    display:flex;
    justify-content: space-around;
    width:100%;
}

.strawberry-container img{
    width:2%;
}

#berry1,#berry2,#berry3,#berry4,#berry5,#berry6{
    align-self: flex-end;
}

.ground{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.upgrade-button{
    height:60%;
    width:20%;
    max-width: 250px;
    background-color:rgb(184, 245, 184);
    border-radius: 50px;
    border:none;
    font-size: 20px;
}
